.section-title {
    margin-bottom: 20px;
}

h3 {
    font-weight: bold;
    font-size: 25px;
}

.car-container {
    margin-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.car-desc-container {
    display: flex;
    flex-direction: row;
}

.car-image-container {
    width: 250px;
    height: 250px;
}

.car-image {  
    object-fit: cover;  
    width: 250px;
    height: 250px;
    border-radius: 15px;
}  

.car-list {
    margin-left: 10px;
}

#all-cars-section {
    margin-top: 30px;
}