* {
    box-sizing: border-box;
}

p {
    font-size: 18px;
}

.register_modal {
    z-index: 160;
    background-color: #fff;
    border: 1px solid #e3e3e3;
    border-radius: 16px;
    box-sizing: border-box;
    font-family: Source Sans Pro;
    width: 40%;
    margin: auto;
    padding: 48px;
    position: relative;
    text-align: left;
    top: 20px;
}

.input_wrapper {
    width: 100%;
    font-size: 16px;
    border: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.error_list {
    color: rgb(251, 63, 63);
}

/* .register_button {
    width: 100%;
    font-size: 16px;
    color: #e3e3e3;
    padding: 10px;
    margin-top: 30px;
    background-color: rgb(68, 68, 255);
    border-radius: 6px;
} */