{% extends './base.html' %}

{% block title %}Car List{% endblock %}

{% block content %}
    <h1>Cars</h1>

{% for car in car_list %}
    <strong>{{ car }}</strong>
    <ul>
    <li>Type: {{ car.type }}</li>
    <li>Mileage: {{ car.mileage }} miles</li>
    <li>Cost per day: ${{ car.cost_per_day }}</li>
    <li>Cost per mile: ${{ car.cost_per_mile }}</li>
    <li>Car location: {{ car.location }}</li>
    <li>Availability: {{ car.availability }}</li>

    {% if user.is_authenticated %}
        {% if car.availability %}
            <form action="{% url 'reservation' car.id %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Rent Me">
            </form>
        {% else %}
            <p>Not Available</p>
        {% endif %}
    {% else %}
        <li>Please <a href="{% url 'login' %}">log in</a> or <a href="{% url 'register' %}">register</a> to make a reservation.</li>
    {% endif %}
    </ul>
    <br/>
{% endfor %}

{% endblock %}
