{% extends './base.html' %}

{% block title %}Car Rental System{% endblock %}

{% block style %}
<link rel="stylesheet" href="../../../static/css/home.css">
{% endblock %}

{% block content %}
<div class="search-section">
    <div class="search-modal">
        <h1>Search Cars</h1>
        <div class="search-input-container">
            <div class="form-group">
                <label for="id_location">Location</label>
                
            </div>
            <div class="form-group">
                <label for="id_rental_date">From</label>
                
            </div>
            <div class="form-group">
                <label for="id_return_date">To</label>
            </div>
        </div>
    </div>
</div>
<div class="car-type-section">
    <h2 class="section-title">Search by Car Type</h2>
    <div class="image-section">
        <div class="image-container white-text">
            <a href="#"><img class="image-car" src="../../static/image/classic.png" alt="Classic Car"></a>
            <div class="image-title">Classic Car</div>
        </div>
        <div class="image-container white-text">
            <a href="#"><img class="image-car" src="../../static/image/sedan.png" alt="Sedan"></a>
            <div class="image-title">Sedan</div>
        </div>
        <div class="image-container white-text">
            <a href="#"><img class="image-car" src="../../static/image/sports.png" alt="Sports Car"></a>
            <div class="image-title">Sports Car</div>
        </div>
        <div class="image-container white-text">
            <a href="#"><img class="image-car" src="../../static/image/SUV.png" alt="SUV"></a>
            <div class="image-title">SUV</div>
        </div>
        <div class="image-container black-text">
            <a href="#"><img class="image-car" src="../../static/image/truck.png" alt="Truck"></a>
            <div class="image-title">Truck</div>
        </div>

    </div>
</div>
<div class="location-section">
    <h2 class="section-title">Search by Location</h2>
    <div class="image-section">
        <div class="image-container white-text">
            <a href="#"><img class="image-location" src="../../static/image/Tampa.png" alt="Tampa"></a>
            <div class="image-title">Tampa</div>
        </div>
        <div class="image-container white-text">
            <a href="#"><img class="image-location" src="../../static/image/Gainesville.png" alt="Gainesville"></a>
            <div class="image-title">Gainesville</div>
        </div>
        <div class="image-container white-text">
            <a href="#"><img class="image-location" src="../../static/image/Orlando.png" alt="Orlando"></a>
            <div class="image-title">Orlando</div>
        </div>
    </div>
</div>

{% endblock %}