{% extends './base.html' %}

{% block title %}Car Rental System{% endblock %}

<!-- {% block style %}
<link rel="stylesheet" href="../../../static/css/login.css">
{% endblock %} -->

{% block content %}


<h1>Car Rental System</h1>
<br>
{% if user.is_authenticated %}
    <form action="/logout/" method="get">
        <input type="submit" value="Sign Out">
    </form>
    <br>
    <form action="/cars/" method="get">
        <input type="submit" value="Cars">
    </form>
{% else %}
     <form action="/register/" method="get">
         <input type="submit" value="Sign Up">
    </form>
    <br>
    <form action="/login/" method="get">
        <input type="submit" value="Sign In">
    </form>
    <br>
    <form action="/cars/" method="get">
        <input type="submit" value="Cars">
    </form>
{% endif %}
</div>

{% if messages %}
    <ul class="messages">
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}

{% endblock %}

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car Rental System</title>
</head>
<body>
    <h1>Car Rental System</h1>
    {% if user.is_authenticated %}
        <form action="/logout/" method="get">
            <input type="submit" value="Sign Out">
        </form>
        <form action="/cars/" method="get">
            <input type="submit" value="Cars">
        </form>
    {% else %}
         <form action="/register/" method="get">
             <input type="submit" value="Sign Up">
        </form>
        <form action="/login/" method="get">
            <input type="submit" value="Sign In">
        </form>
        <form action="/cars/" method="get">
            <input type="submit" value="Cars">
        </form>
        {% endif %}
    </div>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
</body>
</html> -->
