{% extends '../base.html' %}

{% block title %}Register{% endblock %}

{% block style %}
<link rel="stylesheet" href="../../../static/css/register.css">
{% endblock %}

{% block content %}

<!--User register page frontend-->
<div class="register_modal">
    <h1>Register Account</h1>
    <div class="form-group">
        <form action="/register/" method="post">
            {% csrf_token %}

            <div class="input_wrapper">
                {{ form.username.label }}
                {{ form.username }}
                {{ form.username.help_text }}
                <span class="error_list">{{ form.username.errors }}</span>
            </div>
            <div class="input_wrapper">
                {{ form.email.label }}
                {{ form.email }}
                {{ form.email.help_text }}
                <span class="error_list">{{ form.email.errors }}</span>
            </div>
            <div class="input_wrapper">
                {{ form.first_name.label }}
                {{ form.first_name }}
                {{ form.first_name.help_text }}
                <span class="error_list">{{ form.errors.first_name }}</span>
            </div>
            <div class="input_wrapper">
                {{ form.last_name.label }}
                {{ form.last_name }}
                {{ form.last_name.help_text }}
                <span class="error_list">{{ form.errors.last_name }}</span>
            </div>
            <div class="input_wrapper">
                {{ form.password1.label }}
                {{ form.password1 }}
                {{ form.password1.help_text }}
                <span class="error_list">{{ form.errors.password1 }}</span>
            </div>
            <div class="input_wrapper">
                {{form.password2.label }}
                {{form.password2 }}
                {{ form.password2.help_text }}
                <span class="error_list">{{ form.errors.password2 }}</span>
            </div>
            <button type="submit" class="btn btn-primary" value="Register">Register</button>
        </form>
    </div>
    <p>Already have an account? <a href="{% url 'login' %}">Sign In</a></p>
</div>
{% endblock %}